<li data="{{amount}}">
	{{name}}
	${{amount}}

	<button class="change-essential" data-id="{{id}}" data-newessential="{{essential}}">
		{{#if essential}}Must Have{{else}}Nice to Have{{/if}}
	</button>

	<button class="delete-wedding" data-id="{{id}}">Delete</button>
</li>
